.tabs-container {
    /* height: 100%; */
}
.details {
    /* background-color: rgb(150, 208, 229); */
    height: 100%;
}

.nav-link.active {
    color: black;
}
.status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 30px;
    border-radius: 50px;
    color: white;
    margin: 0 0 1rem 0;
}
.status-icon p {
    margin: 0;
}
.not-started {
    background-color: #b52f2f;
}
.in-progress {
    background-color: #e88335;
}
.completed {
    background-color: #4aab39;
}