.new-log-form-container {
    width: 100%;
    display: flex; 
}

.new-log-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.new-log-form-input {
    width: 100%;
    margin: 1rem 0; 
    padding: 0.5rem;
    height: 100px;
    border-color: var(--body-font-color);
    border-radius: 5px;
}   
.new-log-form-input:focus {
    outline: none;
}
/* ================ ADD LOG BTN ================== */
.new-log-form-container .new-log-form-btn {
    /* height: 40px; */
    background-color: #7ea482;
    border-color: #7ea482;
    color: var(--off-white)
}
.new-log-form-container .new-log-form-btn:hover {
    color: var(--off-white);
}

.log {
    display: flex; 
    flex-direction: column;
    margin: 1.5rem 0;
    background-color: var(--off-white);
    padding: 1rem;
    border-radius: 5px;
    /* border: 1px solid var(--body-font-color); */
    filter: drop-shadow(2px 5px 5px #cacaca);
}
.log .time {
    font-weight: bold;
}
/* ============== UPDATE LOG BTN ================= */
.log .update-log-form-btn {
    border: none; 
    background-color: #7ea482;
    border-color: #7ea482;
    color: var(--off-white);
    border-radius: 5px;
    padding: 0.5rem;
}
.log .update-log-form-btn:hover {
    color: var(--off-white);
}

.edit-log-btn {
    border: none;
    width: 30px;
    align-self: flex-end;
}
.edit-log-btn img {
    width: 100%;
}
.log .cancel-update-log {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--main-bg-color);
}
