.new-project-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.new-project {
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
    padding-top: 2rem;
    width: 100%;
    max-width: 1000px;
}
.new-project h1 {
    margin: 2rem 0;
}
.new-project-form {
    width: 500px;
}

@media only screen and (max-width: 600px) {
    .new-project {
        margin: 0 2rem;
    }
    .new-project-container {
        width: 100%;
    }
    .new-project-form {
        width: 100%;
    }
}