.show-page {
    display: flex; 
    justify-content: center;
    height: 90vh;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 4rem 0;
}
.show-page h1 {
    margin: 0 0 2rem 0;
}
.dark .show-container,
.dark .show-sidebar {
    background-color: var(--dark-project-card);
    filter: drop-shadow(2px 5px 5px var(--dark-drop-shadow));
}
.light .show-page .nav-tabs .nav-link:hover {
    color: var(--body-font-color);
}
.show-container {
    background-color: var(--off-white);
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
    max-width: 1000px;
    height: 100%;
    margin: 0 0 0 2rem;
    padding: 2rem;
    border-radius: 5px;
    filter: drop-shadow(2px 5px 5px #cacaca);
    overflow: scroll;
}
/* ================================================ */
/* =================== SIDEBAR ==================== */
/* ================================================ */
.show-sidebar {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--off-white);
    width: 20%;
    height: 100%;
    padding: 1rem;
    border-radius: 5px;
    filter: drop-shadow(2px 5px 5px #cacaca);
}
.dark .show-sidebar .sidebar-nav {
    filter: drop-shadow(5px 5px 5px var(--dark-drop-shadow));
}
.show-sidebar .sidebar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: var(--main-bg-color);
    filter: drop-shadow(2px 5px 5px #cacaca);
    margin: 0.5rem 0;
}
.show-sidebar a {
    width: 100%;
    color: var(--body-font-color);
    text-decoration: none;
}
.show-sidebar .status-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.show-sidebar .status-dot .not-started {
    background-color: var(--notstarted);
}
.show-sidebar .status-dot .in-progress {
    background-color: var(--inprogress);
}
.show-sidebar .status-dot .completed {
    background-color: var(--completed);
}
/* ================================================ */
.mb-3 {
    margin-bottom: 0!important;
}
.show-page .nav-item .active {
    background-color: #fcfbfb;
}
.dark .tab-content {
    color: var(--body-font-color);
}
.tab-content {
    background-color: #fcfbfb;
    height: 100%;
    padding: 1.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #dee2e6;
    border-width: 1px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
}
.show-page button {
    color: var(--body-font-color);
    font-size: 1.15rem;
}
.show-page button:hover {
    color: var(--on-hover);
}
/* ================================================ */
/* =================== DETAILS ==================== */
/* ================================================ */
.details {
    height: 100%;
}
.status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 30px;
    border-radius: 50px;
    color: white;
    margin: 1rem 0;
}
.status-icon p {
    margin: 0;
}
.not-started {
    background-color: var(--notstarted);
}
.in-progress {
    background-color: var(--inprogress);
}
.completed {
    background-color: var(--completed);
}

/* =================== EDIT BTN =================== */
.update-btns {
    align-items: center;
}
.show-page button.edit-btn {
    background-color: transparent;
    filter: drop-shadow(1px 1px 1px #ffffff);
    position: absolute;
    left: 3rem;
    bottom: 3rem;
    border: none;
    width: 30px;
}
.show-page button.edit-btn img {
    width: 100%;
}
/* ================ UPDATE FORM =================== */
.update-project-form {
    display: flex;
    flex-direction: column;

}
.show-page .update-project-form .update-form-input {
    margin-bottom: 1rem!important;
}
.update-project-form textarea {
    height: 250px;
}
.show-page .update-btns {
    display: flex;
    justify-content: space-between;
}
.show-page .update-btn {
    background-color: var(--submit-btn-color);
    border-color: var(--submit-btn-color);
    color: var(--off-white)
}
.show-page .update-btn:hover,
.show-page .discard-btn:hover {
    color: var(--off-white);
}
.show-page .discard-btn {
    background-color: #9b9d9b;
    border-color: #9b9d9b;
    color: var(--off-white)
}
/* =================== DELETE BTN ================= */
.show-page button.delete-btn {
    border: none;
    background-color: transparent;
    width: 35px;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    filter: drop-shadow(1px 1px 1px #ffffff);
}
.show-page button.delete-btn img {
    width: 100%;
}
/* ================================================ */
/* =================== TASKS ====================== */
/* ================================================ */
.new-task-form-container {
    display: flex; 
    width: 100%;
}
.new-task-form {
    display: flex; 
    align-items: center;
    width: 100%;
    margin: 1rem 0; 
}
.new-task-form-input {
    width: 100%;
    padding: 0.5rem;
    border-color: var(--body-font-color);
    border-radius: 5px;
    border-width: 1px;
}
.new-task-form-input:focus,
.update-task-form-input:focus {
    outline: none;
}
/* ================ ADD TASK BTN ================== */
.new-task-form-container .new-task-form-btn {
    background-color: var(--submit-btn-color);
    border-color: var(--submit-btn-color);
    color: var(--off-white);
    margin: 0 0 0 1rem;
}
.new-task-form-container .new-task-form-btn:hover,
.update-task-form .update-task-btn:hover {
    color: var(--off-white);
}
.tasks-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.task {
    width: 100%;
    display: flex;
    align-items: center;
}
input.checkbox {
    height: 20px;
    width: 20px;
    margin: 1rem;
}
input.checkbox::before {
    background: var(--body-font-color);
}
.task {
    justify-content: space-between;
}
.task > div {
    display: flex;
    align-items: center;
}
/* =============== EDIT TASK FORM ================= */
.update-task-form {
    display: flex;
    width: 100%;
    margin: 1rem 0;
}
.update-task-form-input {
    width: 100%;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    padding: 0.5rem;
}
.update-task-form .update-task-btn {
    border: none;
    border-radius: 5px;
    background-color: var(--submit-btn-color);
    color: var(--off-white);
    padding: 0.5rem;
    margin: 0 0 0 1rem;
}
/* ==================TRASH BTN ==================== */
.trash-btn {
    background-color: transparent;
    border: none;
    width: 30px;
}
.trash-btn img {
    width: 100%;
}
/* ================================================ */
/* =================== LOGS ====================== */
/* ================================================ */
.new-log-form-container {
    width: 100%;
    display: flex; 
}
.new-log-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.new-log-form-input {
    width: 100%;
    margin: 1rem 0; 
    padding: 0.5rem;
    height: 100px;
    border-color: var(--body-font-color);
    border-radius: 5px;
}   
.new-log-form-input:focus {
    outline: none;
}
/* ================ ADD LOG BTN ================== */
.new-log-form-container .new-log-form-btn {
    /* height: 40px; */
    background-color: var(--submit-btn-color);
    border-color: var(--submit-btn-color);
    color: var(--off-white)
}
.new-log-form-container .new-log-form-btn:hover {
    color: var(--off-white);
}
.dark .show .log {
    color: var(--body-font-color);
}
.log {
    display: flex; 
    flex-direction: column;
    margin: 1.5rem 0;
    background-color: var(--off-white);
    padding: 1rem;
    border-radius: 5px;
    /* border: 1px solid var(--body-font-color); */
    filter: drop-shadow(2px 5px 5px #cacaca);
}
.log .time {
    font-weight: bold;
}
/* ============== UPDATE LOG BTN ================= */
.log .update-log-form-btn {
    border: none; 
    background-color: var(--submit-btn-color);
    border-color: var(--submit-btn-color);
    color: var(--off-white);
    border-radius: 5px;
    padding: 0.5rem;
}
.log .update-log-form-btn:hover {
    color: var(--off-white);
}

.edit-log-btn {
    border: none;
    width: 30px;
    background-color: transparent;
}
.edit-log-btn img {
    width: 100%;
}
.log .cancel-update-log {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--main-bg-color);
}
/* ============== DELETE LOG BTN ================= */
.log-page .update-btns {
    align-self: flex-end;
}
/* ================================================ */
@media only screen and (max-width: 900px) {
    .show-sidebar {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .show-container {
        margin: 0 1rem;
        width: 100%;
        padding: 1rem;
    }
    .new-task-form-container .new-task-form-btn {
        font-size: 1rem;
    }
}