.show-page {
    display: flex; 
    justify-content: center;
    height: 90vh;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 4rem 0;
}
.show-page h1 {
    margin: 0 0 2rem 0;
}
.show-container {
    background-color: var(--off-white);
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
    max-width: 1000px;
    height: 100%;
    margin: 0 0 0 2rem;
    padding: 2rem;
    border-radius: 5px;
    filter: drop-shadow(2px 5px 5px #cacaca);
    overflow: hidden;
}
/* =================== SIDEBAR ==================== */
.show-sidebar {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--off-white);
    width: 20%;
    height: 100%;
    padding: 1rem;
    border-radius: 5px;
    filter: drop-shadow(2px 5px 5px #cacaca);
}
.show-sidebar .sidebar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: var(--main-bg-color);
    filter: drop-shadow(2px 5px 5px #cacaca);
    margin: 0.5rem 0;
}
.show-sidebar a {
    width: 100%;
    color: var(--body-font-color);
    text-decoration: none;
}
.show-sidebar .status-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.show-sidebar .status-dot .not-started {
    background-color: #BF7659;
}
.show-sidebar .status-dot .in-progress {
    background-color: #D59C5A;
}
.show-sidebar .status-dot .completed {
    background-color: #7ea482;
}
/* ================================================ */

.tab-content {
    height: 100%;
}

.show-page button {
    color: var(--body-font-color);
    font-size: 1.15rem;
}
.show-page button:hover {
    color: var(--on-hover);
}
/* =================== DETAILS ==================== */
.details {
    height: 100%;
}
.nav-link.active {
    color: black;
}
.status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 30px;
    border-radius: 50px;
    color: white;
    margin: 1rem 0;
}
.status-icon p {
    margin: 0;
}
.not-started {
    background-color: #BF7659;
}
.in-progress {
    background-color: #D59C5A;
}
.completed {
    background-color: #7ea482;
}

/* =================== EDIT BTN =================== */
.show-page button.edit-btn {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    border: none;
    width: 30px;
}
.show-page button.edit-btn img {
    width: 100%;
}
/* ================ UPDATE FORM =================== */
.update-project-form {
    display: flex;
    flex-direction: column;

}
.update-project-form textarea {
    height: 250px;
}
.show-page .update-btns {
    display: flex;
    justify-content: space-between;
}
.show-page .update-btn {
    background-color: #7ea482;
    border-color: #7ea482;
    color: var(--off-white)
}
.show-page .update-btn:hover,
.show-page .discard-btn:hover {
    color: var(--off-white);
}
.show-page .discard-btn {
    background-color: #9b9d9b;
    border-color: #9b9d9b;
    color: var(--off-white)
}
/* =================== DELETE BTN ================= */
.show-page button.delete-btn {
    border: none;
    background-color: transparent;
    width: 35px;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
.show-page button.delete-btn img {
    width: 100%;
}
@media only screen and (max-width: 900px) {
    .show-sidebar {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .show-container {
        margin: 0 1rem;
        width: 100%;
        padding: 1rem;
    }
}