.main {
    width: 100%;
    /* box-sizing: border-box; */
}
.nav-item {
    color: rgba(255,255,255,0.55);
    text-decoration: none;
}


@media only screen and (max-width: 1000px) {
    .custom-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .custom-nav-dropdown {
        display: flex;
        flex-direction: column;
    }

}