@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
    --main-bg-color: #ebe7e4;
    --off-white: #F4F4F4;
    --nav-bg-color: #d6d0ca;
    --body-font-color: #494949;
    /* project status colors */
    --notstarted: #BF7659; 
    --inprogress: #D59C5A;
    --completed: #7ea482;

    --submit-btn-color: #7ea482;

    /* dark theme colors */
    --dark-nav-bg-color: #101518;
    --dark-bg-color: #1b2225;
    --dark-project-card: #2d383d;
    --dark-drop-shadow: #1c1c1c;
}
/* ============= LIGHT/DARK THEME =============== */
.theme-toggler {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
}
.dark {
    background-color: var(--dark-bg-color);
    color: var(--off-white);
}
.light {
    background-color: var(--main-bg-color);
    color: var(--body-font-color);
}

/* ============= =REGISTER/LOGIN ================ */

/* ============================================== */
.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
}
.mono {
    font-family: 'Source Code Pro', monospace;
}
h1 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-size: 2rem;
}
p {
    font-size: 1.15rem;
    margin: 0;
}
.handwritten {
    font-family: 'Patrick Hand', cursive;
}

.logo {
    margin: 0 1rem;
}
.dark .logo-black {
    display: none;
}
.light .logo-white {
    display: none
}
.nav-item {
    color: rgba(255,255,255,0.55);
    text-decoration: none;
}
.dark .nav-link,
.dark .navbar-nav .show>.nav-link,
.dark .navbar-brand {
    color: var(--off-white);
}
.navbar-brand {
    font-size: 2rem;
}
.light .navbar {
    background-color: var(--nav-bg-color);
    width: 100%;
    font-size: 1.25rem;
}
.dark .navbar {
    background-color: var(--dark-nav-bg-color);
    width: 100%;
    font-size: 1.25rem;
}
.navbar .dropdown-item:active {
    color: var(--body-font-color);
    background-color: transparent;
}
.dropdown-menu.show {
    width: fit-content;
}

@media only screen and (max-width: 1000px) {
    .custom-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .custom-nav-dropdown {
        display: flex;
        flex-direction: column;
    }
}

