@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
    --main-bg-color: #EBE7E3;
    --off-white: #F4F4F4;
    --nav-bg-color: #BCC6C5;
    --body-font-color: #494949;
    --on-hover: #727272;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    /* height: 100vh; */
    min-height: 100vh;
    background-color: var(--main-bg-color);
    color: var(--body-font-color);
    box-sizing: border-box;
}
.mono {
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-size: 2rem;
}
p {
    font-size: 1.15rem;
    margin: 0;
}
.handwritten {
    font-family: 'Patrick Hand', cursive;
}
.nav-item {
    color: rgba(255,255,255,0.55);
    text-decoration: none;
}
.navbar {
    background-color: var(--nav-bg-color);
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .custom-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .custom-nav-dropdown {
        display: flex;
        flex-direction: column;
    }
}

